# Laravel
/vendor/
/node_modules/
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea/
/.vscode/
*.swp
*.swo

# Backend
backend/storage/*.key
backend/storage/logs/*
!backend/storage/logs/.gitkeep
backend/bootstrap/cache/*
!backend/bootstrap/cache/.gitkeep
backend/.env

# Frontend
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/pubspec.lock
frontend/.packages
frontend/build/

# Database
*.sqlite
*.sqlite3

# OS
.DS_Store
Thumbs.db

# Composer
composer.phar
/vendor/

# Misc
*.log
